
<p><%= @task.details %></p>

<%= link_to 'Update', edit_task_path(@task) %>

<%= link_to "Delete #{@task.details}",
            task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
